.feedsSidebar {
  position: relative;
  background-color: $white;
  max-width: $sidebarwidth;
  height: 100%;

  overflow: hidden;
  border-right: 1px solid $bordergray;

  .btn {
    @include outlineBtnPurple();
    border-style: none;
    border-bottom: 1px solid $purple;
    padding-top: 10px;
    padding-bottom: 10px;

    &:active {
      border-style: none;
      border-bottom: 1px solid $purple;
    }

    &.cancel {
      color: $brand-danger;
    }
  }

  .actions {
    .btn {
      display: inline-block;
      width: 50%;

      &:nth-child(2) {
        border-left: 1px solid $purple;
      }
    }
  }

  .create {
    .btn {
      display: inline-block;
      width: 100%;
    }
  }

  .sidebarTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    display: block;
    text-align: center;
    background-color: $gray;
    color: white;
    padding: 12px 20px 12px 20px;
    letter-spacing: .5rem;
    font-size: 1.6rem;
    font-weight: bold;
    height: 46px;

    input {
      border-radius: 0px;
      position: relative;
      top: -4px;
      font-weight: 300;
      height: 30px;
    }
  }

  .feedsList {
    list-style: none;

    a {
      display: block;
      color: $text;
      text-decoration: none;
      padding: 12px 20px 12px 20px;
      border-bottom: 1px solid $bordergray;
      cursor: pointer;

      &:hover {
        background-color: $lightgray;
      }
    }
  }

  .detailPanel {
    position: absolute;
    top: 86px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
