.feedCard {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $white;
  margin-top: 3px;
  border-bottom: 1px solid $bordergray;
  border-right: 1px solid $bordergray;
  display: block;
  font-size: 1rem;

  &:first-child {
    border-top-style: none !important;
  }

  .body {
    margin-top: 10px;
    font-size: 1.3rem;

    em {
      color: $purple;
      font-weight: bold;
    }
  }

  .info {
    display: inline-block;
    width: 50%;
    color: $darkgraytext;
    font-size: 1.1rem;

  }

  .source {
    text-align: right;
  }

  .actions {
    margin-top: 10px;

    .btn {
      margin-left: 30px;
      display: inline-block;
      background-color: transparent;
      border: none;

      &:hover, &:active {
        background-color: transparent;
        border: none;
        box-shadow: none;
      }

      &:first-child {
        margin-left: 0px;
      }
    }
  }
}

.paddedIcon {
  text-align: center;
  min-width: 3rem;

  i.fa {
    font-size: 2rem;
    color: $graytext;
  }

  &:hover {
    i { color: $purple; }
  }
}
