div.feedPipeline {
  display: inline-block;
  width: 340px;
  background-color: $lightgray;
  border-top-style: solid;
  border-top-color: $purple;
  margin-right: 15px;
  height: 100%;

}

.feedPipeline > .header {
  background-color: $white;
  padding: 8px;
  border-bottom: 1px solid $bordergray;
  border-right: 1px solid $bordergray;

  font-size: 1.6rem;
  font-weight: bold;

  .menuButton {
    float: right;
    margin-top: 2px;
  }
}

.feedPipeline > .contents {
  height: 95%;
  overflow-y: scroll;
}

.addPipeline {
  .header {
    text-align: center;
  }

  .contents {
    overflow-y: hidden;
    .addCard {
      background-color: white;
      height: 300px;
      margin-top: 3px;
      text-align: center;
      padding-top: 75px;
    }
  }

  .btn {
    margin-top: 20px;
    @include outlineBtnPurple();
    padding: 12px 25px 12px 25px;
  }

  .addButton {
    display: inline;
    color: $purple;
    padding: 10px 25px 0px 25px;
    font-size: 9rem;

    cursor: pointer;
    border: 3px solid $purple;

    &:hover {
      color: $purplebutton;
      border-color: $purplebutton;

    }

    &:active {
      color: $darkestpurple;
      border-color: $darkestpurple;
    }

  }
}
