.feedsBody {
  position: absolute;

  left: $sidebarwidth;
  top: 0px;
  bottom: 0px;
  right: 0px;

  height: 100%;

  overflow-y: scroll;
  overflow-x: hidden;

  .instructions {
    margin-top: 15vh;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: $darkgraytext;
  }
}
