.iconButton {
  display: inline-block;


  i.fa {
    font-size: 2rem;
    color: $graytext;
  }

  .buttonPadding {
    cursor: pointer;
    text-align: center;
    min-width: 3rem;

    &:hover {
      i {
        color: $purple;
      }
    }
  }
}
