nav {
  margin-bottom: 0px !important;
  height: $navheight;
  padding-top: 12px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: $darkpurple !important;

  a.navbar-brand {
    img {
      height: 20px;
    }
  }

  .container-fluid {
    padding: 0px;
  }

  .navbar-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.nav.navbar-nav li a {
  color: $graytext;
  font-size: 1.5rem !important;
  i {
    position: relative;
    top: -1px;
    left: -1px;
    font-size: 1.5rem;
  }
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background:none;

  font-size: 1.5rem !important;
  i {
    position: relative;
    top: -1px;
    left: -1px;
    font-size: 1.5rem;
  }
}

.navbar-right {
  margin-right: 0px;

  font-size: 1.5rem !important;
  i { 
    position: relative;
    top: 0px;
    left: 2px;
    font-size: 1.6rem;
  }
}

.navbar-collapse {
  background-color: $darkpurple !important;
  padding-left: 30px;
  padding-right: 30px;
}


@media (max-width: 767px) {
  .navbar-collapse {
    margin-top: 10px;
  }
}
