.resultItem {
  margin: 10px;
  padding: 10px;
  padding-top: 5px;
  background-color: $white;
  border-bottom: 1px solid $bordergray;
  border-right: 1px solid $bordergray;

  .info {
    width: 50%;
    color: $darkgraytext;
    font-size: 1.1rem;
    display: inline-block;
  }

  .body {
    margin-right: 55px;
    em {
      color: $purple;
      font-weight: bold;
    }
  }
  .actions {
    // position: relative;
    // top: 5px;
    margin-top: 5px;
    float: right;

    .btn {
      @include outlineBtnPurple();
      padding: 3px 10px;
      border-width: 2px;
    }
  }
}
