.sidebarForm {
  .section {
    margin-bottom: 15px;

    .title {
      background-color: $lightgray;
      border-top: 1px solid $bordergray;
      border-bottom: 1px solid $bordergray;

      padding: 8px 20px;
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 5px;
      padding-right: 0px;

      .btn {
        margin: 0px;
        margin-top: 2px;
        float: right;
        margin-right: 20px;
        padding: 0px 3px;
        border: none;
        // border-bottom: 2px solid $purple;

        &:active {
          background-color: transparent;
          box-shadow: none;
        }
      }
    }

    .field {
      padding: 5px 20px;
      margin: 0px;

      input, select {
        border-radius: 0px;
      }
      select {
        margin-top: 3px;
      }
      .input-group-addon {
        color: $darkpurple;
        border-radius: 0px;
        cursor: pointer;

        &:hover {
          background-color: $bordergray;
        }
        &:active {
          background-color: $graytext;
        }
      }

      .label {
        padding: 0px;
        color: $text;
        font-size: 1.2rem;
      }
      .value {
        float: right;
        font-weight: 300;
        color: $text;
        i.fa {
          cursor: pointer;
        }
      }
    }
  }

}
