$darkpurple: #40306c;
$purple: #513e85;
$brand-primary: $purple;
$purplebutton: #40306c;
$darkestpurple: #2e2150;
$lightpurple: #dbd9e2;

$lightgray: #e9e9e9;
$bordergray: #d3d3d3;
$graytext: #bab7b7;
$darkgraytext: #938e8e;

$gray: #7e7e7e;

$text: #424242;

$white: #F6F7F7;
