@mixin outlineBtnPurple {
  background-color: transparent;
  color: $purple;
  border-radius: 0px;
  border-width: 2px;
  border-color: $purple;
  transition: 0.1s;
  font-weight: bold;

  &:active {
    background-color: $lightgray;
    border-width: 2px;
    border-color: $purple;
    color: $purple;
  }

  &:focus {
    outline: 0 none;
  }
}
