@import 'colors';
@import "bootstrap-sass/assets/stylesheets/bootstrap";

@import 'mixins';
@import 'variables';

@import 'pages/Landing';
@import 'pages/ErrorPage';
@import 'pages/Login';
@import 'pages/Dashboard';
@import 'pages/Feeds';

@import 'components/Navbar';
@import 'components/FeedPipeline';
@import 'components/FeedCard';
@import 'components/IconButton.scss';
@import 'components/FeedsSidebar.scss';
@import 'components/SidebarForm.scss';
@import 'components/FeedsBody.scss';
@import 'components/Result.scss';

body {
  font-family: 'roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: $lightgray;
}

// Make scrollbars go away in chrome
// ::-webkit-scrollbar{
//     width: 0px;  /* remove scrollbar space */
//     height: 0px;
//     background: transparent;  /* optional: just make scrollbar invisible */
// }

select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea:focus{
  border-color: $purple !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba($purple, 0.3) !important;
  outline: 0 none !important;
}
