.dashboardPage {
  padding-top: 15px;
  padding-left: 15px;
  position: absolute;

  top: $navheight;
  bottom: 0;
  left: 0;
  right: 0px;
  // width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  border-bottom: 5px solid $darkpurple;
  box-sizing: border-box;

  .scrollContainer {
    position: absolute;

    top: 15px;
    bottom: 0px;
    left: 15px;
    right: 0px;
    height: 100%;
    padding-bottom: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
