.errorPage {
  text-align: center;
  margin-top: 50px;

  i {
    font-size: 5rem;
    color: $graytext;
    margin-bottom: 10px;
  }

  .message {
    .number {
      font-size: 4rem;
      font-weight: bold;

    }
    .divider {
      position: relative;
      top: 3px;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 4.5rem;
      border-left: 5px solid $purple;
    }
    .description {
      position: relative;
      top: -5px;
      font-size: 2.2rem;
    }
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .btn {
    border-radius: 0px;
    border: 3px solid $purple;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    color: $purple;
    font-weight: bold;
  }
}
