body.landing {
  font-family: "roboto";
  background-color: #e7e7e7;
  font-size: 15px;


  nav {
    margin-bottom: 0px !important;
    height: $navheight;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0,0,0,.66) !important;
  }

  a.navbar-brand {
    img {
      height: 20px;
    }
  }

  div.hero {
    background-color: black;
    background-image: url("img/hero_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 150px;
    padding-bottom: 100px;
    margin-top: -$navheight;

    h1 {
      font-size: 4rem;
      font-weight: 300;
    }

    p {
      color: rgba(#e0e0e0,1);
    }

    .btn {
      margin-top: 20px;
      background-color: transparent;
      color: white;
      border-radius: 0px;
      padding: 18px 40px 18px 40px;
      border-width: 3px;
      border-color: white;
      transition: 0.1s;

      &:hover {
        background-color: white;
        color: $darkpurple;
      }

    }

  }


  div.section {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #BCB8B8;

    &.odd {
      padding-top: 40px;
    }

    .img {
      text-align: center;
      img {
        max-width: 90%;
      }
    }

    .sectionLabel {
      margin-bottom: 20px;

      h2 {
        color: $purple;
        font-weight: 300;
      }

      p {
        color: #505050;
      }
    }

  }

  .dashboardLanding {
    background-color: #d9d8d8;
    box-shadow: inset 2px 3px 12px 0px rgba(143,143,143,1);
  }
  .alerts {
    .img {
      img {
        max-width: 45% !important;
      }
    }
    padding-bottom: 40px;
  }

  .spacer {
    margin-bottom: 60px;
  }

  div.footer {
    background-color: #424242;

    padding-top: 20px;
    padding-bottom: 60px;
    color: white;

    text-align: center;

  }

  .outlineBtn {
    margin-top: 20px;
    background-color: transparent;
    color: white;
    border-radius: 0px;
    padding: 18px 40px 18px 40px;
    border-width: 3px;
    border-color: white;
    transition: 0.1s;

    &:hover {
      background-color: white;
      color: $darkpurple;
      border-color: white;
    }

  }

  .modal {
    .modal-content {
      margin-top: 20vh;
      border-radius: 0px;
      background-color: $darkpurple;

      .modal-body {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;

        button.close {
          margin-bottom: 15px;
          span {
            color: white;
          }
        }

        h3 {
          float: left;
          color: #b6b5b5;
          margin-top: 5px;
          margin-bottom: 15px;
        }

        input {
          border-radius: 0px;
        }

        button.submit {
          padding: 9px 20px 9px 20px;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }

}
