.loginPage {
  .imgWrapper {
    text-align: center;
    img {
      width: 60%;
    }

    margin-bottom: 25px;
  }
  .loginContainer {
    margin: auto;
    margin-top: 20vh;
    max-width: 400px;
  }

  .loginBox {
    margin-left: 15px;
    margin-right: 15px;
    padding: 25px;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    text-align: center;

    input {
      border-radius: 0px;
    }
    .input-group-addon {
      border-radius: 0px;
    }

    .alert {
      border-radius: 0px;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-bottom: 15px;
    }
  }

  .btn {
    border-radius: 0px;
    border: 3px solid $purple;
    padding: 5px 20px 5px 20px;
    background-color: transparent;
    color: $purple;
    font-weight: bold;
  }
}
