<!DOCTYPE html>
<html>
<head>
  <title>CivicWatch</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- Vendor Styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">

  <!-- App Styles -->
  <link rel=stylesheet type=text/css href='/static/app.css'>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
  <div class="react-mount">
  </div>

  <script src="/static/app.js" ></script>
</body>
</html>
