<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CivicWatch</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- Vendor Styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">

  <!-- App Styles -->
  <link rel=stylesheet type=text/css href='/static/app.css'>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="landing">

  <!-- NavBar -->
  <nav class="navbar navbar-static-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="CivicWatch" src="static/img/CivicWatchLogo.png">
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>

  <!-- Hero section -->
  <div class="jumbotron hero">
    <div class="container">
      <h1>Policy happens locally</h1>
      <p>CivicWatch monitors for new policy developments in cities and counties across all 50 states</p>
      <button type="button" class="btn btn-default outlineBtn" data-toggle="modal" data-target="#myModal">
        Request a trial
      </button>
    </div>
  </div>

  <!-- Detail Page Section   -->
  <div class="section">
    <div class="container">
      <div class="col col-md-5 sectionLabel">
        <div class="spacer hidden-xs hidden-sm">

        </div>
        <h2>Track Issues and Monitor for Key Terms</h2>
        <p>CivicWatch monitors local government websites across all counties and major municipalities for new references to policies, regulations, issues, or organizations.</p>
      </div>
      <div class="col col-md-7 img">
        <img src="static/img/DetailPage.png" alt="Track Issues">
      </div>
    </div>

  </div>

  <!-- Dashboard Section -->
  <div class="section odd dashboardLanding">
    <div class="container">
      <div class="col col-md-5 col-md-push-7 sectionLabel">
        <div class="spacer hidden-xs hidden-sm">

        </div>
        <h2>Get intelligence on the latest policy trends</h2>
        <p>CivicWatch lets you quickly produce and analyze trends around your issues – aggregating tracking by geography, benchmarking against other issues, and giving you actionable analytics.</p>
      </div>

      <div class="col col-md-7 col-md-pull-5 img">
        <img src="static/img/DashboardPage.png" alt="Track Issues">
      </div>
    </div>


  </div>

  <!-- Alerts section -->
  <div class="section odd alerts">
    <div class="container">
      <div class="col col-md-6 sectionLabel">
        <div class="spacer hidden-xs hidden-sm">

        </div>
        <h2>Customize Monitoring and share detailed reports</h2>
        <p>CivicWatch makes it easy to stay ahead of any new developments at the city and county level, with customized alerts. CivicWatch’s dashboard lets you monitor, organize and prioritize the issues you’re following in one easy-to-use online portal. And updates and reports can exported to share easily with your team.</p>
      </div>

      <div class="col col-md-6 img">
        <img src="static/img/Alerts.png" alt="Track Issues">
      </div>
    </div>


  </div>

  <div class="footer">
    <div class="container">
      <!-- Trigger popup modal -->
      <button type="button" class="btn btn-default outlineBtn" data-toggle="modal" data-target="#myModal">
        Request a trial
      </button>
    </div>
  </div>

  <!-- Request a Trial Popup -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h3>Request a trial</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <form id="signupForm" data-toggle="validator">
            <div id="name" class="form-group">
              <input class="form-control" name="name" placeholder="Name" required="true">
            </div>

            <div id="organization" class="form-group">
              <input class="form-control"  name="organization" placeholder="Organization" >
            </div>

            <div id="email" class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Email" required="true">
            </div>

            <button type="submit" class="btn btn-default outlineBtn submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function() {

    $("#signupForm").on("submit", function(e) {
      e.preventDefault();
      var params = {};
      var a = $(this).serializeArray();
      $.each(a, function() {
        params[this.name] = this.value || '';
      });
      params['location'] = 'landing-page';
      params['role'] = 'CivicWatch';

      $(".form-group").removeClass("has-error");

      if(!params['name']) {
        $("#name").addClass("has-error").find("input").focus();
        return;
      } else if(!params['organization']) {
        $("#organization").addClass("has-error").find("input").focus();
        return;
      } else if(!params['email']) {
        $("#email").addClass("has-error").find("input").focus();
        return;
      }

      $.ajax({
          url: "https://api.vigilant.cc/api/subscribers",
          method: "POST",
          data: params
      }).done(function() {
        $("[data-dismiss=modal]").trigger({ type: "click" });
        $(this).find("input").val("");
      });


    });
  });
</script>
</html>
