<!DOCTYPE html>
<html>
<head>
  <title>CivicWatch | Login</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- Vendor Styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">

  <!-- App Styles -->
  <link rel=stylesheet type=text/css href='/static/app.css'>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
  {{current_user.email}}
  <div class="loginPage">
    <div class="loginContainer">

      <form class="loginBox" method="post">
        <div class="imgWrapper">
          <img src="/static/img/CivicWatchPurpleLogo.png" alt="CivicWatch">
        </div>

        {% for message in get_flashed_messages() %}
          <div class="alert alert-danger">
            {{ message }}
          </div>
        {% endfor %}


        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <input type="email" class="form-control" name="email" placeholder="Email" required="true">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
            <input type="password" class="form-control" name="password" placeholder="Password" required="true">
          </div>
        </div>
        <button type="submit" value="submit" class="btn btn-default">Login</button>
      </form>
    </div>
  </div>
</body>
</html>
